# html/install.php is moved to src/install.php after it has run, to keep a local copy instead of deleting it from the public folder 
html/src/install.php

# do not allow any data into the repository
html/data
data

Serverless/*/node_modules/

ROADMAP.md

.env
.phpdoc

# Prevent accidentally committing the delete of html/install.php  
# git update-index --skip-worktree html/install.php

# Note: temporarily use the following command if it is necessary to commit changes to html/install.php
# git update-index --no-skip-worktree html/install.php 

# Prevent accidentally committing changes to the configuration of phpLiteAdmin 
# git update-index --skip-worktree html/phpliteadmin/phpliteadmin.config.php

# Note: temporarily use the following command if it is necessary to commit changes to the configuration of phpLiteAdmin 
# git update-index --no-skip-worktree html/phpliteadmin/phpliteadmin.config.php
