services:
  phuppi:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    ports:
      - "80:80"
    volumes:
      - ./public:/var/www/html
      - ./src:/var/www/src
      - ./data:/var/www/data
      - ./docker/php/php.ini-development:/usr/local/etc/php/php.ini
      - ./docker/php/000-default.conf:/etc/apache2/sites-enabled/000-default.conf
    user: "${UID:-1000}:${GID:-1000}"