{parameters
    ?array $files = []
}

{layout 'layout.latte'}

{block content}
<h2 class="ui header">Welcome to Phuppi 2.0, {Flight::voucher()->voucher_code ? Flight::voucher()->voucher_code : Flight::user()->username}!</h2>
<p>Here you can manage your shared files.</p>

{include 'filelist.latte', files: $files}

{/block}