<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{block title}Phuppi 2.0{/block}</title>
    <meta name="description" content="PHP File-Uppie thingy..">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/fomantic/dist/semantic.min.css?{phuppi_version()}">
    <script src="/assets/axios/axios.min.js?{phuppi_version()}"></script>
    <script src="/assets/jquery/jquery-3.1.1.min.js?{phuppi_version()}"></script>
    <script src="/assets/fomantic/dist/semantic.min.js?{phuppi_version()}"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/phuppi.css?{phuppi_version()}">
    <script src="/assets/js/phuppi.js?{phuppi_version()}"></script>
    {block head}{/block}
</head>

<body>
    <header class="ui grid padded page-header middle aligned stackable">
        <div class="three wide column left aligned clickable" data-url="/">
            <img src="/assets/images/logo/phuppi/phuppi-logo-horizontal-slogan.svg?{phuppi_version()}" width="280" height="122" />
        </div>
        <div class="thirteen wide column last bottom aligned right floated center aligned ui item horizontal-menu right aligned">
            {if user_can('note_list')}<a class="item ui button primary" href="/notes"><i class="flag icon"></i> Notes</a>{/if}
            {if user_can('file_list')}<a class="item ui button primary" href="/"><i class="file icon"></i> Files</a>{/if}
            {if user_can('file_list') and user_can('file_delete') and user_can('file_view')}<a class="item ui button primary" href="/duplicates"><i class="copy icon"></i> Duplicates</a>{/if}
            {if user_can('voucher_list')}<a class="item ui button primary" href="/vouchers"><i class="ticket icon"></i> Vouchers</a>{/if}
            {if user_can('admin')}<a class="item ui button" href="/admin/settings"><i class="cog icon"></i> Settings</a>{/if}
            {if user_can('user_list')}<a class="item ui button" href="/users"><i class="user icon"></i> Users</a>{/if}
            {if user_id()}<a class="item ui button" href="/logout"><i class="icon user"></i>Log Out</a>{/if}
        </div>
    </header>
    <div class="ui container content page-content">
        {get_user_messages('error')|noescape}
        {get_user_messages('success')|noescape}
        {get_user_messages('info')|noescape}
        {block content}{/block}
    </div>
    <footer class="page-footer">
        <div class="ui container two column grid">
            <span class="column">&copy; <?= date('Y') ?> <a href="http://www.phuppi.com">Phuppi</a>, a "File-Uppie" thingy..</span>
            <span class="column right aligned">v{phuppi_version()}</span>
        </div>
    </footer>
    {block scripts}{/block}
</body>
</html>