{layout 'layout.latte'}

{block content}
<div class="ui segment">
    <h2 class="ui top attached header">
        <i class="cog icon"></i>
        Application Settings
    </h2>
    <!-- Settings form will be implemented here -->
</div>
{/block}